<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="/">OiMee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="navbar-nav mr-auto">
      <%= link_to("Home", '#', class: "nav-item nav-link") %>
    </div>
    <div class="navbar-nav">
      <% if !current_user %>
        <%= link_to("Register", new_user_registration_path, class: "nav-item nav-link") %>
        <%= link_to(fa_icon("sign-in", text: "Login"), new_user_session_path, class: "nav-link nav-item") %>
      <% else %>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to("My Orders", account_orders_path, class: "dropdown-item") %>
            <%= link_to(fa_icon("sign-out", text: "Logout"), destroy_user_session_path, method: :delete, class: "dropdown-item") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
